.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

.btn {
    font-family: "Latso", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}

input {
    border-style: solid;
    border-color: rgb(117, 171, 233);
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: rgb(3, 65, 136);
    border-color: rgb(3, 65, 136);
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 18px;
}

input:focus {
    outline: none;  
}

a {
    color: #4b0505;
    font-size: 16px;
}

.heroSlide{
    height: 70vh;
    margin: 0 auto;
    overflow: hidden;

}

.heroSlide-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



@media (max-width: 576px){
    .heroSlide-frame{
        height:50vh;
    }
} 